*{
    margin: 0;
    padding: 0;
}
body{
    align-items: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #130f40;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #0c092d;
    color: white;
}
.active {
    background-color: #eaff00;
    color:black;
}
.active:hover{
    color: black;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.shadow_effect{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2), -1px -1px 5px rgba(0, 0, 0, 0.2);
}
.center{
    justify-content: space-around;
    display: flex;
}
.img{
    height: 54px;
    margin: 0 2rem 0 0;
}
.navigation{
    position: sticky;
    top: 0;
}
.notifications {
    position: absolute;
    top: 30px;
    right: 20px;
  }
.notifications :where(.toast, .column) {
    display: flex;
    align-items: center;
}
.notifications .toast {
    width: 400px;
    position: relative;
    overflow: hidden;
    list-style: none;
    border-radius: 4px;
    padding: 16px 17px;
    margin-bottom: 10px;
    background: var(--light);
    justify-content: space-between;
    animation: show_toast 0.3s ease forwards;
}
@keyframes show_toast {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}
.notifications .toast.hide {
    animation: hide_toast 0.3s ease forwards;
}
@keyframes hide_toast {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(calc(100% + 20px));
    }
}
.toast::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: progress 5s linear forwards;
}
@keyframes progress {
    100% {
        width: 0%;
    }
}
.toast.success::before, .btn#success {
    background: #008000;
}
.toast.error::before, .delete-button#error {
    background: #a30000;
}
.toast.warning::before, .btn#warning {
    background: #ffd500;
}
.toast.info::before, .btn#info {
    background: #130f40;
}
.toast .column i {
    font-size: 1.75rem;
}
.toast.success .column i {
    color: #008000;
}
.toast.error .column i {
    color: var(--#a30000);
}
.toast.warning .column i {
    color: #ffd500;
}
.toast.info .column i {
    color: #130f40;
}
.toast .column span {
    font-size: 1.07rem;
    margin-left: 12px;
}
.toast i:last-child {
    color: #aeb0d7;
    cursor: pointer;
}
.toast i:last-child:hover {
    color: #34495E;
}
@media screen and (max-width: 530px) {
    .notifications {
        width: 95%;
    }
    .notifications .toast {
        width: 100%;
        font-size: 1rem;
        margin-left: 20px;
    }
}