.center{
    justify-content: space-around;
    display: flex;
    background: #130f40;
}
.center > a {
    background-color: #130f40;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    }
.center > a:hover{
    background-color: #0c092d;
    color: white;
}
.edit-button{
    background-color: #130f40;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    padding: 4px 0;
    width: 100%;
    border: 0;
    border-radius: 5px;
}
.delete-button{
    background-color: #a30000;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    padding: 4px 0;
    width: 100%;
    border: 0;
    border-radius: 5px;
}